* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/* 禁用移动端弹性滚动 */
html, body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

#app {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  position: relative;
}

/* 禁用iOS橡皮筋效果 */
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* 防止下拉刷新和弹性滚动 */
html {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
li {
  list-style: none;
}
.w {
  width: 80vw;
  margin: 0 auto;
}
$fzt: 20px;
.t-notification__detail {
  // padding: 0 20px;

  .t-notification__detail-item {
    padding: 6px 12px;

    &:nth-child(1) {
      color: #0052d9;
    }
  }
}
